
.container{
	margin-top: 300px;
	background: #fff;
	width: 100%;
}

body {
	background: url("../img/login.jpg");
 	width: 100%;
 	height: auto;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #4da2fc;
  border-radius: 5px;
}

.btn-primary {
	background: #4da2fc;
	border-color: #4da2fc;
}

.btn-primary:hover {
	background: #4da2fc;
	border-color: #4da2fc;
}
